@font-face {
  font-family: "Lato";
  src: url(./font/Lato/Lato-Light.ttf); }

@font-face {
  font-family: "LatoRegular";
  src: url(./font/Lato/Lato-Regular.ttf); }

@font-face {
  font-family: "Ailerons Normal";
  src: url(./font/Ailerons/Ailerons-Typeface.otf); }

.container-fluid {
  padding: 0 0 0 0; }

.idioma{
  border-radius: 0 0 0 8px;
  z-index: 500;
}

.icon {
  font-size: 5em;
  color: white;
  transition: 0.5s; }

.icon:hover {
  color: #717171;
  transition: 0.5s; }

.iconContact{
  width: 50px;
}

@media only screen and (max-width: 480px) {
  .iconContact{
    width: 42px;
  } }


#descarga{
  background-color: #0b111a;
  border-radius: 4px;
  width: 200px;
  height: 45px;
}

#descarga a{
  text-decoration: none;
  color: white;
}

.page {
  min-height: 100vh; }

.parallax {
  background-image: url(./../img/parallax.webp);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%; }

.sobreMi h2 {
  font-family: Lato;
  font-size: 4em;
  color: #0b111a; }

.sobreMi p {
  font-family: LatoRegular;
  font-size: 22px;
  color: #0b111a; }
  @media only screen and (max-width: 480px) {
    .sobreMi p {
      font-size: 18px; } }

.sobreMi #foto {
  box-shadow: -8px -8px 0px -1px #0b111a; }

.trabajos h2 {
  font-family: Lato;
  font-size: 4em;
  color: #0b111a; }

.trabajos p {
  font-family: LatoRegular;
  color: #0b111a;
  font-size: 22px; }

.trabajos #img {
  cursor: pointer; }

.btnSize{
  width: 88px;
}

.item {
  font-size: 35px;
  cursor: pointer; }

.item:hover {
  background-color: rgba(53, 53, 53, 0.226);
  color: white; }

.habilidades {
  background-color: #0b111a; }
  .habilidades h2 {
    font-family: Lato;
    font-size: 3em;
    color: white; }

.footer {
  background-color: #0b111a;
  font-family: LatoRegular;
  color: white; }